body {
    background-color: black;
    color: grey;
}
.h1 {
    color: red;
    background-color: purple;
}
h1 {
    background-color: black;
    font-size: 30px;
    margin: 10;
}
.p1 {
    font-size: 24px;
    margin: 0;
}
.p2 {
    font-size: 24px;
    margin: 10;
}
.p3 {
    font-size: 24px;
    margin: 0;
}
.p4 {
    font-size: 24px;
    margin: 10;
}
.p5 {
    font-size: 24px;
    margin: 10;
}
.p6 {
    font-size: 24px;
    margin: 10;
}
.p7 {
    font-size: 24px;
    margin: 10;
}
img {
    width: 1200px;
}